<div class="row">
    <div class="col-sm-8">
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <button
                        [disabled]="surveyForm.invalid"
                        class="btn btn-success mr-2"
                        type="submit">Save</button>
                    <button
                        (click)="onCancel()"
                        class="btn btn-danger"
                        type="button">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="title">Survey Title</label>
                        <input formControlName="title" type="text" class="form-control" name="title" id="title">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="purpose">Survey Purpose</label>
                        <textarea formControlName="purpose" class="form-control" name="purpose" id="purpose" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" formArrayName="questions">
                    <Label>Questions</Label>
                    <div 
                        *ngFor="let questionCtrl of questions; let i = index;"
                        [formGroupName]="i"
                        class="row mb-2">
                        <div class="col-sm-11">
                            <textarea formControlName="text" class="form-control" name="" id="" rows="3"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <button (click)="onDeleteQuestion(i)" class="btn btn-secondary" type="button">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-2">
                    <button 
                        (click)="onAddQuestion()"
                        [disabled]="questionNumber == 3" 
                        class="btn btn-info" 
                        type="button"
                        >Add Question</button>
                </div>
            </div>
        </form>
    </div>
</div>
